<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
	<link rel="stylesheet" href="/css/sidebar.css" />
	<title>Sidebar - Agrelp</title>
</head>

<body>
	
	<!-- Botão hamburger para dispositivos móveis -->
	<input type="checkbox" id="toggle-sidebar" hidden />
	<label for="toggle-sidebar" class="hamburger-label hamburger">
	    <i class='fas fa-bars'></i>
	</label>
	
	<div class="sidebar close" th:fragment="sidebar">
		<div class="logo-details">
			<i class='fas fa-seedling'></i>
			<span class="logo_name">Agrelp</span>
		</div>
		<ul class="nav-links">
			<!-- Dashboard -->
			<li>
				<a href="/dashboard">
					<i class='fas fa-th-large'></i>
					<span class="link_name">Dashboard</span>
				</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="/dashboard">Dashboard</a></li>
				</ul>
			</li>

			<!-- Ferramentas -->
			<li>
				<div class="icon-link mt-4 mb-4">
					<a href="/ferramentas">
						<i class='fas fa-tools'></i>
						<span class="link_name">Ferramentas</span>
					</a>
					<i class='fas fa-chevron-down arrow'></i>
				</div>
				<ul class="sub-menu">
					<li><a class="link_name" href="/ferramentas">Ferramentas</a></li>
					<li><a href="/ferramentas/adicionar">Adicionar Ferramentas</a></li>
					<li><a href="/ferramentas">Listar Ferramentas</a></li>
				</ul>
			</li>

			<!-- Máquinas -->
			<li>
				<div class="icon-link mt-4 mb-4">
					<a href="/maquinas">
						<i class='fas fa-tractor'></i>
						<span class="link_name">Máquinas</span>
					</a>
					<i class='fas fa-chevron-down arrow'></i>
				</div>
				<ul class="sub-menu">
					<li><a class="link_name" href="/maquinas">Máquinas</a></li>
					<li><a href="/maquinas/adicionar">Adicionar Máquina</a></li>
					<li><a href="/maquinas">Listar Máquinas</a></li>
				</ul>
			</li>

			<!-- Estoque -->
			<li>
				<div class="icon-link mt-4 mb-4">
					<a href="/estoque">
						<i class='fas fa-box'></i>
						<span class="link_name">Estoque</span>
					</a>
					<i class='fas fa-chevron-down arrow'></i>
				</div>
				<ul class="sub-menu">
					<li><a class="link_name" href="/estoque">Estoque</a></li>
				</ul>
			</li>
		</ul>
	</div>


</body>

</html>